VUE_APP_NAME=<YOUR APP NAME>
# Example App Name:-  
# Anoringa

VUE_APP_URL=<YOUR APP URL>
# Example App URL:-  
# http://test.mydomain.com

VUE_APP_API=<YOUR APP BACKEND ENDPOINT>
# Example App Api:-  
# http://localhost:3000

VUE_APP_SOCKETIO=<YOUR APP BACKEND ENDPOINT>
# Example SocketIO URL:-  
# http://localhost:3000

VUE_APP_HCAPTCHA=<YOUR HCAPTCHA CLIENT ID>
VUE_APP_IMAGEKIT_PUBLICKEY=<YOUR IMAGEKIT PUBLIC KEY> 
VUE_APP_IMAGEKIT_ENDPOINT=<YOUR IMAGEKIT ENDPOINT>
VUE_APP_ISSUESAPI=<YOUR APP ISSUES API ENDPOINT>
VUE_APP_ONESIGNAL_APPID=<YOUR ONESIGNAL APPID>